<div class="policy-bg">

  <div class="container py-5">

    <div class="policy-card">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <button class="btn btn-outline-primary btn-sm" (click)="goToListing()">⬅ Back</button>
        <h2 class="policy-title">POLICY</h2>
        <div></div>
      </div>

      <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">

        <div class="row g-3">

          <div class="col-md-4">
            <label class="form-label">Policy No</label>
            <input type="text" class="form-control" formControlName="polNo" readonly>
          </div>

          <div class="col-md-4">
            <label class="form-label">Issue Date</label>
            <input type="date" class="form-control" formControlName="issueDate" readonly >
          </div>

          <div class="col-md-4">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" formControlName="fromDate">
          </div>
            
          <div class="col-md-4">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" formControlName="toDate" readonly>
          </div>

          <div class="col-md-4">
            <label class="form-label">Assured Name</label>
            <input type="text" class="form-control" maxlength="120" formControlName="name">
          </div>

          <div class="col-md-4">
            <label class="form-label">Assured Mobile</label>
            <input type="text" class="form-control" maxlength="20" formControlName="mobile">
          </div>

          <div class="col-md-4">
            <label class="form-label">Currency Code</label>
            <select class="form-control" formControlName="currency" >
              <option value="">--SELECT--</option>
              <option  *ngFor="let curr of ListCurrency" [value]="curr.code">{{curr.code}}-{{curr.text}}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Gross FC Premium</label>
            <input type="number" class="form-control" maxlength="9" formControlName="fcPremium" onchange="getLcPrem()">
          </div>

          <div class="col-md-4">
            <label class="form-label">Gross LC Premium</label>
            <input type="number" class="form-control"  formControlName="lcPremium"> 
          </div>

          <div class="col-md-4">
            <label class="form-label" >Vehicle Make</label>
            <select class="form-control" formControlName="vehMake" (change)="onMakeChange($event)" >
              <option value="">--SELECT--</option>
              <option *ngFor="let make of ListVehicleMake" [value]="make.code" >{{make.code}}-{{make.text}}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Vehicle Model</label>
            <select class="form-control" formControlName="vehModel">
              <option value="">--SELECT--</option>
              <option *ngFor="let model of ListVehicleModel" [value]="model.code">{{model.code}}-{{model.text}}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Chassis Number</label>
            <input type="text" class="form-control" formControlName="chassisNo">
          </div>

          <div class="col-md-4">
            <label class="form-label">Engine Number</label>
            <input type="text" class="form-control" maxlength="30" formControlName="engineNo">
          </div>

          <div class="col-md-4">
            <label class="form-label">Registration Number</label>
            <input type="text" class="form-control" maxlength="30" formControlName="regNo">
          </div>

          <div class="col-md-4">
            <label class="form-label">Vehicle Value</label>
            <input type="text" class="form-control" maxlength="9" formControlName="vehValue">
          </div>

        </div>

        <div class="text-center mt-4">
          <button class="btn btn-primary px-5">Save</button>
        </div>


      </form>

    </div>

  </div>

</div>
